@charset "utf-8";
/ *CSS Document */
body{
font:14px "微软雅黑";
color:#072885;
}
.red{color:red;text-decoration:underline;}
.red1{color:red;}
.blue{color:#3d6cb0;text-decoration:underline;}
.huise{ color:#666;text-decoration:underline;}
.green{ color:green;}
.xia{text-decoration:underline;}
em{ font-style:normal;}
